@import 'node_modules/bulma/css/bulma.css';

.navbar
.logo {
    width: 28px;
    height: 48px;
}

.navbar
.index-refresh-icon svg {
    animation: mover 1s infinite  alternate;
}

@keyframes mover {
    0% { transform: translateY(-3px); }
    100% { transform: translateY(+3px); }
}